importFrom(corpcor, fast.svd)
import(lme4)
import(splines)

export(snm)
export(sim.singleChannel)
export(sim.doubleChannel)
export(sim.preProcessed)
export(sim.refDesign)

S3method("fitted","snm")
S3method("plot","snm")
S3method("summary","snm")
